// Dark mode vars
$darkBody: rgb(24, 25, 26);
$darkContent: rgb(36, 37, 38);

body.dark-mode {
  background: $darkBody;
  color: rgb(228, 230, 235);
  transition: background 600ms ease-in-out;

  .left__sidebar,
  .right__sidebar,
  .footer,
  .reviews__section .review__box,
  .about__me,
  .left__sidebar--footer,
  [class*="__box "],
  .education__content,
  .contacts__form--content,
  .contacts__info--box,
  .service__box {
    background: $darkContent;
    transition: 600ms ease-in-out;
  }

  .bg_btn {
    svg {
      color: #fff;
      transition: 600ms ease-in-out;
    }
  }

  h1,
  h2,
  h3,
  h4,
  .right__sidebar--content .main__menu .menu__link.active,
  .left__sidebar--info ul li span,
  .left__sidebar--info ul li,
  .education .eduwork__box--head .eduwork__date span:first-child,
  .btn,
  .btn svg,
  .contacts__list li {
    color: #fff;
    transition: 600ms ease-in-out;
  }

  p,
  h5,
  .profile__position,
  .contacts__form--content form label {
    color: rgb(228, 230, 235) !important;
    transition: 600ms ease-in-out;
  }

  .contacts__form--content form input,
  .contacts__form--content form textarea {
    color: rgb(228, 230, 235);
    background: rgb(58, 59, 60);
    transition: 600ms ease-in-out;
  }
}
